__pycache__/
*.pyc
.DS_Store
env/
.venv/
venv/
models/
data/raw/

# Ignorar CSVs por padrão (dados brutos / intermediários)
*.csv

# Mas manter alguns resultados de clusterização no versionamento
!data/processed/telemetry_windowed_with_clusters.csv
!data/processed/final_soil_telemetry_dataset.csv
